@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}
:root {
  --darkColor: #1d1d1b;
  --headerColor: #ffc80c;
  --itemTitleColor: #0097cc;
  --primaryFont: 'Livvic', sans-serif;
}
body {
  font-family: var(--primaryFont);
}

/*App Nav */

.app-header {
  height: 90px;
  background: var(--headerColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
}

.cart-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cart-container img {
  width: 24px;
  height: 25.25px;
}
.cart-container h4 {
  font-size: 0.94rem;
}

@media screen and (min-width: 768px) {
  .cart-container {
    margin-right: 12.4rem;
  }
}
